footer{
    position : fixed;
    width: 100%;
    min-height: 10%;
}

#texteLivré{
    text-align: left;
}

.carousel{
    margin-top: 15px;
    min-height: 300px;
}

.carousel .carousel-item {
    min-height: 300px;
}

#body{
    max-height: 38rem;
}

.dropdown-menu{
    width: 20%;
}

#navbarNavDropdown{
    margin-left: 10vw;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 300px;
}

#tete{
    min-width: 80px;
    max-width: 120px;
}

body {
    animation: wheelHueColor 25s infinite;
    background-color: currentColor;
    /*#79a7d3    #6883bc  bleu clair/
    /#ff9a8d #4a536b  orange/
    /vERT BEAU rgba(181, 255, 217, 1)*/
}

@keyframes wheelHueColor {
    from, to { color: rgb(56, 21, 200); }
    60%      { color: rgb(11, 113, 192); }
    80%      { color: rgb(161, 4, 194); }
}

@supports (background-blend-mode: overlay) {
    .body {
        background-image: linear-gradient(45deg, white 10%, black 90%);
        background-blend-mode: overlay;
    }
}